:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

body {
    background-color: #C9ADA7;
}

.main-container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}
.wrapper {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 42px;
    left: 0;
    z-index: 46;
    right: -50;
}
.wrapper-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    width: 1380px;
    margin: 0 0 0 31px;
    z-index: 46;
}
.text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 1066px;
    height: 296px;
    color: #22223B;
    font-family: Josefin Sans, var(--default-font-family);
    font-size: 300px;
    font-weight: 400;
    line-height: 296px;
    text-align: left;
    white-space: nowrap;
    z-index: 47;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 6px;
    position: relative;
    width: 301px;
    z-index: 48;
}
.text-2 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 48px;
    color: #4A4E69;
    font-family: Josefin Sans, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: right;
    white-space: nowrap;
    z-index: 49;
}
.img {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 2px;
    background: url(./assets/images/a01c7eab-f042-403e-8964-fcca00d02c7a.png)
        no-repeat center;
    background-size: cover;
    background-position: center;
    z-index: 50;
}
.text-3 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 48px;
    color: #4A4E69;
    font-family: Josefin Sans, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: right;
    white-space: nowrap;
    z-index: 51;
}
.pic {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 2px;
    background: url(./assets/images/e2f4b923-1d00-4baf-8027-a51925fd6674.png)
        no-repeat center;
    background-size: cover;
    z-index: 52;
}
.text-4 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 48px;
    color: #4A4E69;
    font-family: Josefin Sans, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: right;
    white-space: nowrap;
    z-index: 53;
}
.pic-2 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 2px;
    background: url(./assets/images/af6ad955-70be-4cb9-9a84-f662a093e3c4.png)
        no-repeat center;
    background-size: cover;
    z-index: 54;
}
.wrapper-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
    position: relative;
    width: 1440px;
    margin: 280px 0 0 0;
    z-index: 1;
}
.wrapper-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    min-width: 0;
    z-index: 2;
}
.group {
    flex-shrink: 0;
    position: relative;
    width: 1497px;
    height: 61px;
    z-index: 3;
}
.box-2 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 147px;
    position: relative;
    width: 1483px;
    height: 47px;
    margin: 14px 0 0 1px;
    z-index: 5;
}
.text-5 {
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #C9ADA7;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 6;
}
.text-6 {
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #C9ADA7;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 7;
}
.text-7 {
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #C9ADA7;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
}
.text-8 {
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #C9ADA7;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
}
.text-9 {
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #C9ADA7;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
}
.text-a {
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #C9ADA7;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 11;
}
.text-b {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-basis: auto;
    position: relative;
    width: 104px;
    height: 48px;
    color: #C9ADA7;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
}
.section {
    position: absolute;
    width: 1497px;
    height: 61px;
    top: 0;
    left: 0;
    background: #22223B;
    z-index: 4;
}
.wrapper-5 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 171px;
    position: relative;
    width: 1380px;
    z-index: 13;
}
.text-c {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #22223B;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
}
.text-d {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #000000;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 15;
}
.text-e {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #000000;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 16;
}
.text-f {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #000000;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 17;
}
.text-10 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #000000;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 18;
}
.text-11 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #000000;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 19;
}
.wrapper-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    min-width: 0;
    z-index: 20;
}
.group-2 {
    flex-shrink: 0;
    position: relative;
    width: 1497px;
    height: 61px;
    z-index: 21;
}
.box-3 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 179px;
    position: relative;
    width: 1394px;
    margin: 12px 0 0 7px;
    z-index: 23;
}
.text-12 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #939978;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 24;
}
.text-13 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #939978;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 25;
}
.text-14 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #939978;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 26;
}
.text-15 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #939978;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 27;
}
.text-16 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #939978;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 28;
}
.text-17 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #939978;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 29;
}
.wrapper-7 {
    position: absolute;
    width: 1497px;
    height: 61px;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 22;
}
.group-3 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 207px;
    position: relative;
    width: 1321px;
    z-index: 30;
}
.text-18 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #000000;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 31;
}
.text-19 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #000000;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 32;
}
.text-1a {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #000000;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 33;
}
.text-1b {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #000000;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 34;
}
.text-1c {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #000000;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 35;
}
.box-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    min-width: 0;
    z-index: 36;
}
.group-4 {
    flex-shrink: 0;
    position: relative;
    width: 1440px;
    height: 61px;
    z-index: 37;
}
.box-5 {
    position: absolute;
    width: 1439px;
    height: 61px;
    top: 0;
    left: 1px;
    background: #000000;
    z-index: 38;
}
.wrapper-8 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 194px;
    position: absolute;
    width: 1440px;
    height: 48px;
    top: 13px;
    left: 0;
    z-index: 39;
}
.text-1d {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #939978;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 40;
}
.text-1e {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #939978;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 41;
}
.text-1f {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #939978;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 42;
}
.text-20 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #939978;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 43;
}
.text-21 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #939978;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 44;
}
.text-22 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 48px;
    color: #939978;
    font-family: Jomhuria, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 45;
}
.text-23 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 51px;
    top: 843px;
    left: -322px;
    color: #000000;
    font-family: Jersey 10, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 51px;
    text-align: left;
    white-space: nowrap;
}

a {
    cursor: pointer; /* Ensures it looks clickable */
}

a:hover {
    text-decoration: underline; /* Adds hover effect */
}